@charset "utf-8";
/* CSS Document */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,
body {								/* вот это для закрепления футера внизу страницы */
  font-size: 12pt;
  font-family: Arial;
  line-height: 1.5;

  padding: none;
  height: 100%;
  background-color: #939393;
}

.wrapper{
	position: relative;
	min-height: 100%;
	width: auto;
	height: auto;
	background-color: #ffffff; 		
  max-width: 1050px;   /* максимальная ширина окошка, а дальше хоть расширяй хоть нет */
	margin: auto;					/* выставляет врапер по центру страницы */
	margin-top: 80px;
	padding-top: none;
 }


 .header{
	background-color:#353130;
  height: auto;	
}

.header_box{
  background-color:#353130;
  height: 200px;
  margin: auto;
  margin-top: none;
  margin-bottom: none;
  /*width: auto;*/
  max-width: 1050px;
  position: relative;				/* relative нужен чтоб отобразить меню внизу шапки */
}

.img_in_header {
  height: 80px;
  width: 80px;
  float: left;  
  margin: none;
  margin-top: none;
  margin-bottom: none;
  margin-right: 30px;  
}


.main{
  background-color:#ffffff;
  max-width: 1050x;   /* максимальная ширина окошка, а дальше хоть расширяй хоть нет */
  border-top: none;
  height: auto;
  margin: none;
	padding: none;					      /* отступ внутри блока */
	padding-bottom: 190px;			/* отступ внутри блока внизу. должен быть не меньше чем футер */
}

.row{
  background-color: #ffffff;
  max-width: 1000px;   /* максимальная ширина окошка, а дальше хоть расширяй хоть нет */
  /*opacity: 10%;*/
  width: auto;
  height: auto;
  margin: auto;
  padding: 10px;     
  padding-top: none; 
  overflow: auto; 
}



.footer{
	position: absolute;
  text-align: center;
  color:rgb(245, 245, 245);
	background-color: #353130;
	
	border-bottom: none;
	border-left: none;
	border-right: none;

  padding: 15px;

	margin: none;
	left: none;
	bottom: none;
	width: 100%;
	height: 80px;
}